.list {
  flex-basis: 25%;
  padding: 0 0 1rem 0;
  overflow-y: scroll;
}

.noResults {
  flex-basis: 25%;
  padding: 1rem;
  text-align: center;
}

.sadFace {
  font-size: 4rem;
  margin: 5px auto;
  display: block;
}