$accent: rgba(0, 0, 0, .1);
$light-grey: rgba(0, 0, 0, .5);

.listItem {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid $accent;
  cursor: pointer;
  display: flex;

  &:hover {
    background: $accent;
  }
}

.contentContainer, .markerContainer {
  align-content: center;
}

.markerContainer {
  justify-content: center;
  margin-right: 10px;
}

.label {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.faded {
  display: block;
  color: $light-grey;
  font-size: 0.9rem;
  margin: 5px auto;
}