.mapContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
}

.map {
  flex-basis: 75%;
}

:global(.marker) {
  display: inline-block;
  color: #fff;
  background: #FF3941;
  width: 30px;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}