.postcodeSearch {
  padding: 0 1rem;
  margin: 10px auto;
}

.postcodeInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}